### [Quiz_1] 시리즈 obj4의 데이터에 1000을 더하시오

In [1]:
import pandas as pd
from pandas import Series

sdata = {"Ohio": 35000, "Texas": 35000, "Oregon": 16000, "Utah": 5000} #dict
states = ["California", "Ohio", "Oregon", "Texas"] 
obj4 = pd.Series(data = sdata, index = states)

print("변경 전")
print(obj4)
print()
print("변경 후")
obj4.add(1000)

변경 전
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         35000.0
dtype: float64

변경 후

California        NaN
Ohio          36000.0
Oregon        17000.0
Texas         36000.0
dtype: float64

### [Quiz_2] sample 데이터 내에 90, 89가 있는지 확인하시오

In [2]:
import pandas as pd
from pandas import Series

sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])

sample.isin([90, 89])

a     True
b     True
c    False
d    False
e     True
f    False
g    False
h    False
i    False
j     True
dtype: bool

### [Quiz_3] sample 데이터 내에 90이 있으면 True, 없으면 False을 출력

In [5]:
import pandas as pd
from pandas import Series

sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])

sample.isin([90]) # 데이터가 90이면 True 출력, 90이 아니면 False 출력

a    False
b     True
c    False
d    False
e     True
f    False
g    False
h    False
i    False
j     True
dtype: bool

### [Quiz_4] sample 인덱스 내에 'b' 있는지 True, 없으면 False을 출력

In [6]:
import pandas as pd
from pandas import Series

sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])

sample.index.isin(['b']) # 인덱스 값이 'b'이면 Ture, 아니면 False 출력

array([False,  True, False, False, False, False, False, False, False,
       False])

### [Quiz_5] sample 데이터에서 80 이상 데이터을 선택하시오.
    sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])

In [7]:
import pandas as pd
from pandas import Series

sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])

index = sample > 80
print("80 이상 데이터")
sample[index]

80 이상 데이터

a     89
b     90
e     90
f    100
j     90
dtype: int64

### [Quiz_6] sample 데이터의 평균보다 작은 데이터만 선택하시오.

In [8]:
import pandas as pd
from pandas import Series

sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])

avg_data = sample.mean()
print("데이터 평균: ", avg_data)
index = sample < avg_data
sample[index]

데이터 평균:  77.5

d    65
h    55
i    40
dtype: int64

### [Quiz_7] sample 데이터가 60과 80 사이의 데이터만 선택

In [9]:
import pandas as pd
from pandas import Series

sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])

def true_false(val):    # 60과 80 사이의 데이터 찾기
    if val > 60 and val < 80:
        return True
    else:
        return False

result = sample.apply(true_false)
result
sample[result]

c    78
d    65
g    78
dtype: int64

### [Quiz_8] 2021, 2022, 2023년 3년간 대전, 대구, 부산, 광주, 원주의 5개 도시의 인구 수을 저장하는 데이터프레임 생성하기

    data = {'서울': [950, 945, 938], 
        '대전': [800, 790, 780],
        '부산': [920, 910, 900],
        '광주': [700, 690, 680],
        '원주': [300, 290, 250]
       }

In [10]:
import pandas as pd
from pandas import DataFrame

data = {'서울': [950, 945, 938], 
    '대전': [800, 790, 780],
    '부산': [920, 910, 900],
    '광주': [700, 690, 680],
    '원주': [300, 290, 250]
   }
frame = pd.DataFrame(data)
frame.index = ["2021", "2022", "2023"]
frame

       서울   대전   부산   광주   원주
2021  950  800  920  700  300
2022  945  790  910  690  290
2023  938  780  900  680  250